body{
    color:rgb(225, 0, 255);
    background-color: rgb(129, 255, 186);
} 
.heading{
    width:80%;
    font-size:22px;
}
#camera{
    border: 2px dashed rgb(255, 133, 96);
    width: 350px;
    height:350px;
}
.name_of_objects,#result_object_name,#result_accuracy{
    color:rgb(5, 66, 197);
}